<script type="text/javascript">
  $(document).ready(function(){
    $('#routines').dataTable({
      "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
      "sPaginationType": "bootstrap", 
      "bProcessing": true, 
      "bServerSide": true, 
      "sAjaxSource": $('#routines').data('source'), 
      "aoColumns": [
        null,  // Teacher
        { "bSortable": false }, // Children
        null, // Start
        null, // End
        { "bSearchable": false }, // All Day?
        null, // Subject
        null, // Description
        <% if current_user.has_role? :teacher %>
        { "bSortable": false, "bSearchable": false }
        <% end %>
      ]
    });
  });
</script>

<h1>
  Routines
  <div class="pull-right">
    <% if current_user.has_role? :teacher %>
      <%= link_to 'New', new_routine_path, :class => 'btn btn-primary' %>
    <% end %>
  </div>
</h1>

<table id="routines" class="table display" data-source="<%= routines_url(format: "json") %>">
  <thead>
	  <tr>
      <th>Teacher</th>
      <th>Children</th>
      <th>Start Date/Time</th>
      <th>End Date/Time</th>
      <th>All Day?</th>
      <th>Subject</th>
      <th>Description</th>
      <% if current_user.has_role? :teacher %>
      <th>Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<div class="pull-right">
<% if current_user.has_role? :teacher %>
  <%= link_to 'New', new_routine_path, :class => 'btn btn-primary' %>
<% end %>
</div>
