<h1>Routine<small> on <%= @requested_day.strftime("%B %-d, %Y") %></small></h1>

<% if @routines_by_child.empty? %>
  <p><strong>Nothing for this day</strong></p>
<% end %>

<% @routines_by_child.each do |child_name, routines| %>
<h2>for <%= child_name %></h2>
  <% routines.each do |routine| %>
    <h3><%= routine.title %></h3>
    <p><%= routine.description %></p>
  <% end %>
<% end %>
