<script type='text/javascript'>
  $(document).ready(function() {
    
    $('#calendar').fullCalendar({
      editable: true,
      
  		header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      
      defaultView: 'month',
      height: 500,
      slotMinutes: 15,
      
      loading: function(bool){
          if (bool) 
              $('#loading').show();
          else 
              $('#loading').hide();
      },
      
      eventSources: [
        // Daily Routine Stuff
        <% @subject_ids.each_with_index do |subject_id, i| %>
        {
          url: '/routines',
          data: {
            subject_id: "<%= subject_id %>"
          }, 
          backgroundColor: "<%= @backgroundColors[i] %>", 
          textColor: "<%= @textColors[i] %>",
        },
        <% end %>
      ],
      
      ignoreTimezone: true, 
//      timeFormat: 'h:mm t{ - h:mm t} ',
      dragOpacity: "0.5",
      
      //http://arshaw.com/fullcalendar/docs/event_ui/eventDrop/
      eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc){
          updateRoutine(event);
          
      },

      // http://arshaw.com/fullcalendar/docs/event_ui/eventResize/
      eventResize: function(event, dayDelta, minuteDelta, revertFunc){
          updateRoutine(event);
      },

      // http://arshaw.com/fullcalendar/docs/mouse/eventClick/
      eventClick: function(event, jsEvent, view){
        // would like a lightbox here.
      },
      
      dayClick: function(date, allDay, jsEvent, view) {
        $(this).css('background-color', '#FBB4AE');
        url = "/teacher_routines/day/" + date.getDate() + "-" + (date.getMonth()+1) + "-" + date.getFullYear();
        $(location).attr('href', url);
      }
    });
  });
  
  function updateRoutine(the_routine) {
      $.update(
        "/routines/" + the_routine.id,
        { routine: { starts_at: "" + the_routine.start,
                     ends_at: "" + the_routine.end
                   }
        },
        function (response) { alert('successfully updated task.'); }, 
        function (response) { alert('error'); }
      );
  };

</script>

<div id='calendar'>
  
</div>


