<div class="page-header">
  <h1>Contact Us</h1>
</div>

<p>
  <strong>Family Day Care Home</strong><br />
  7 Daisy Ct. <br />
  Plainsboro, NJ 08536
</p>

<p>
  <strong>Phone:</strong> (609) 897 7846<br />
  <strong>E-mail:</strong> <%= mail_to "DayCare@lovingkidscare.com", nil, :encode => "javascript" %>
</p>

<br />
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=7+Daisy+Ct,+Plainsboro+Township,+NJ&amp;aq=0&amp;oq=7+Daisy+C&amp;sll=41.298288,-72.929096&amp;sspn=0.249937,0.420227&amp;ie=UTF8&amp;hq=&amp;hnear=7+Daisy+Ct,+Plainsboro+Township,+New+Jersey+08536&amp;t=m&amp;ll=40.336339,-74.612446&amp;spn=0.022899,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=7+Daisy+Ct,+Plainsboro+Township,+NJ&amp;aq=0&amp;oq=7+Daisy+C&amp;sll=41.298288,-72.929096&amp;sspn=0.249937,0.420227&amp;ie=UTF8&amp;hq=&amp;hnear=7+Daisy+Ct,+Plainsboro+Township,+New+Jersey+08536&amp;t=m&amp;ll=40.336339,-74.612446&amp;spn=0.022899,0.036478&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>